<div class="container mat-body-1">
  <p class="mat-title">My Dashboard</p>

  <!-- ngContainer allows you to host structural directives without DOM impact -->
  <!-- Use ngTemplateOutlet makes HTML easier to read -->
  <ng-container [ngSwitch]="cardType">

    <ng-container *ngSwitchCase="'single'">
      <ng-content *ngTemplateOutlet="single"></ng-content>
    </ng-container>

    <ng-container *ngSwitchCase="'multi'">
      <ng-container *ngTemplateOutlet="multi"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngTemplateOutlet="default"></ng-container>
    </ng-container>

  </ng-container>

  <!-- ng-template hosts varying HTML and only displays when a structural directive evaluates to true -->
  <ng-template #single>
    <app-card
      [cardType]="'lifestyle'">
      <img image style="width:100%" src="./../../assets/images/mccall-sunset.jpg">
      <p location>McCall, ID</p>
      <p description>This was the view from our RV park.  Beautiful here!</p>
    </app-card>
  </ng-template>

  <ng-template #multi>
    <app-card
      [cardType]="'lifestyle'">
      <div image style="text-align:center">
        <a style="text-decoration:none; cursor:pointer;"
            href="./../../assets/images/mccall-sunset.jpg" target="_blank">
            <img style="width:32.3%; margin-right:1.03%" src="./../../assets/images/mccall-sunset.jpg">
        </a>

        <a style="text-decoration:none; cursor:pointer;"
            href="./../../assets/images/mccall-lake.jpg" target="_blank">
            <img style="width:32.3%; margin-left:1.03%" src="./../../assets/images/mccall-lake.jpg">
        </a>

        <a style="text-decoration:none; cursor:pointer;"
            href="./../../assets/images/mccall-snow.jpg" target="_blank">
            <img style="width:32.3%; margin-left:1.03%" src="./../../assets/images/mccall-snow.jpg">
        </a>
      </div>
      <p location>
        Plan your visit to
        <a href="https://visitmccall.org" class="hyperlink" target="_blank">McCall, ID</a>
        !
      </p>
      <div description>
        <p>Things to see in McCall, ID</p>
        <ul>
          <li>Payette Lake</li>
          <li>Ponderosa State Park</li>
          <li>Central Idaho Historical Museum</li>
        </ul>
      </div>
    </app-card>
  </ng-template>

  <ng-template #default>
    <p>I see nothing</p>
  </ng-template>

</div>
